@font-face {
	font-family: 'Righteous';
	src: url('/fonts/Righteous-Regular.woff') format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/fonts/InterTight-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal; font-display: swap; 
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/fonts/InterTight-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/fonts/InterTight-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/fonts/InterTight-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
